.services__top{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.service__cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.service__card{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 20px;
    align-items: center;
}

.card__img{
    align-items: center;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--primary-color);
    width: 60px;
    height: 60px;
}

.services__bottom{
    background: url(../images/services__bottom__right.svg) no-repeat top right;
    background-size: contain;
    padding: 100px 0px;
    margin: 50px 0px;
}

.services__bottom__left,.services__bottom__right{
    width: 50%;
}

.services__bottom__left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#about img{
    width: 100%;
}

.learn__more__btn{
    padding: 10px 15px;
    width: 160px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--third-color);
    color: var(--primary-color);
}

#about img{
    width: 100%;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 100px 0px;
}

.features__cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.features__card__img{
    display: flex;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50px;
    height: 50px;
}
.features__card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 32%;
}

.logoipsum__top{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 50px 0px;
    background-color: #D1F4F9;
}

.logoipsum__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoipsum__text h2{
    color: #4B4C4C;
}

.about__doe{
    gap: 10px;
}

.doe__text{
    display: flex;
    flex-direction: column;
}

.logoipsum{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.logoipsum__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.logoipsum__bottom__text h1{
    font-size: 40px;
}

.logoipsum__bottom__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoipsum__bottom button{
    width: 160px;
}

main{
    padding: 100px 0px;
}

